<app-topo></app-topo>
<div *ngIf="jogoEmAndamento; else fimDeJogo">
    <app-painel (encerrarJogo)="encerrarJogo($event)"></app-painel>
</div>
<ng-template #fimDeJogo>
    <div *ngIf="tipoEncerramento == 'derrota' else fimDeJogoVitoria" style="margin-top: 50px;" class="container">
        <div class="row">
            <div class="col">
                <h3 style="color: red;">Fim de jogo. Você perdeu, tente novamente.</h3>
                <button class="btn btn-primary" (click)="reiniciarJogo()">
                    Jogar novamente
                </button>
            </div>
        </div>
    </div>    
</ng-template>
<ng-template #fimDeJogoVitoria>
    <div style="margin-top: 50px;" class="container">
        <div class="row">
            <div class="col">
                <h3 style="color: green;">Parabéns! Você conseguiu!</h3>
                <button class="btn btn-primary" (click)="reiniciarJogo()">
                    Jogar novamente
                </button>
            </div>
        </div>
    </div>    
</ng-template>

<router-outlet></router-outlet>
